#mainNav {
    font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
}
.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.mainheader {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')
}