body {
    background-image: url(https://i.pinimg.com/originals/ef/a5/4b/efa54b24be55c2ae77aa9e03e4043caf.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Goomba {
    border: 33%;
}
.goomba {
    position: relative;
    height: 10%;
    width: 10%;
}
.Bobomb {
    border: 33%;
}
.bobomb {
    position: relative;
    position: center;
    height: 10%;
    width: 10%;
}
