* {
    box-sizing: border-box; 
    font-size: 0px;
}

 .pink {
    display: inline-block;
    height: 192px;
    width: 100%;
    background-color: #F5C6D6;
    border: 5px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}

.magenta {
    display: inline-block;
    height: 192px;
    width: 25%;
    background-color: #EE2E84;
    border: 5px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}

.blue {
    display: inline-block;
    height:  192px;
    width: 50%;
    background-color: #85CFD8;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}

.green {
    display: inline-block;
    height:  192px;
    width: 75%;
    background-color: #8DC63F;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}

.orange {
    display: inline-block;
    height:  192px;
    width: 25%;
    background-color:#E76E34;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    padding: 20px;
}