.master {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.red {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
    border-radius: 10px;
}
.blue {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blue;
    border-radius: 10px;
}
.green {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: green;
    border-radius: 10px;
}
.purple {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: purple;
    border-radius: 10px;
}
.purple2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: purple;
    border-radius: 10px;
}